@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #111827;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.92);
  }

  70% {
    transform: translateY(4px) scale(1.02);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
